.center{
    justify-self: center;
    text-align: center;
    margin-top: 100px;
}
/* footer{
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 50px auto;
} */
footer a{
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    max-width: 400px;
}